/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
             margin: 0;
             box-sizing: border-box; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #d8d8d8;}

.heading {
    font-style: italic;
    color: gray;
    margin-left: 19px;
    font-weight: normal;
    line-height: 2px;
}

.timedate {
    color: gray;
    margin-top: 30px;
    font-weight: normal;
}
